DB_URL=jdbc:mysql://localhost:3306/zjc_airline_booking_db?useSSL=false&serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8
DB_USERNAME=root
DB_PASSWORD=
DEEPSEEK_API_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_API_KEY=
